<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HoneyBunches</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    {{{body}}}
	<script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io();
	</script>
</body>
</html>
