<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://code.createjs.com/createjs-2014.12.12.min.js"></script>
<script src="/SprayTheMost.js"></script>
<canvas onload="init();" id="demoCanvas" width="500" height="300"></canvas>
<button id="score">score</button>
