<div class="title">
	<h1 class="H-Bunches">Honey Bunches of </h1>
	<h1 class="flipping-name">{{name}}</h1>
</div>

<script type="text/javascript" src="javascripts/home.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">

