<h1 class="title">Honey Bunches of <span class="flipping-name">{{name}}</span> </h1>

<script type="text/javascript" src="javascripts/home.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">

