<div id='main'>
<h1 id="title" namespace={{namespace}}> Honey Bunches of {{namespace}}</h1>
<ul id='users'>
{{#each users}}
	<div class='container'>
		<li id={{this.id}}>{{this.nickname}}</li>
	</div>
{{/each}}
</ul>
<button id="start-button"> Waiting for host to start game</button>
</div>

<script type="text/javascript" src="../javascripts/lobby.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/lobby.css">
