<h1 id="title" namespace={{namespace}}> Lobby for: {{namespace}}<h1>
<button id="boop"> Play Spray</button>

<script type="text/javascript" src="../javascripts/lobby.js"></script>
<!--<link rel="stylesheet" type="text/css" href="stylesheets/home.css">-->
