body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.title {
    width: 95%;
    font-size: 350%;
    position: fixed;
    top: 46.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.flipping-name{
    width: 95%;
    font-size: 350%;
    position: fixed;
    top: 53.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    cursor: pointer;
    display: inline-block;
}

.flipping-name:hover{
    text-decoration: underline;
}
